* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

body {
  background: linear-gradient(85deg, #434343, #262626);
}

header {
  background: linear-gradient(#7b4397, #dc2430);
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  padding: 20px;
  color: #ffffff;
}

h2 {
  font-size: 20px;
  color: #fff;
}

.profile-statement {
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  background: #fff;
}

.profile-statement p {
  width: 100%;
  color: #474747;
}
p,
p a {
  width: 65%;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

button#collapsible.collapsible {
  border: white 2px solid;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
}

button#collapsible.collapsible:hover {
  background: linear-gradient(85deg, #434343, #262626);
  color: #fff;
}

img {
  max-width: 90%;
  height: 270px;
  object-fit: cover;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 15%);
}

.projects {
  display: flex;
  margin: 50px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects h2,
.project p,
.project h3,
.p-skills-section {
  color: #fff;
}

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects a,
.skills h2,
footer ul li a,
footer li {
  color: #7ab4c2;
}

.projects h2,
.skills h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.projects a:hover,
footer a:hover {
  color: #00abdf;
}

.project {
  width: 500px;
  margin-top: 20px;
}

.project p {
  text-align: left;
  font-size: 17px;
}

.project-skills {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.p-skills-section {
  display: flex;
  justify-content: center;
}

.skills ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 50px;
  padding: 20px;
}

.skills ul {
  margin: 0 10px;
}

i {
  font-size: 55px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

.about-me h2 {
  padding: 25px;
}

.project h3,
.project-skills {
  padding: 5px;
}

.project h3 {
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  display: none;
  overflow: hidden;
  background: #fff;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
}

.content p {
  text-align: left;
  width: 85%;
  color: #474747;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 90%;
  }

  .project-skills {
    display: flex;
    flex-wrap: wrap;
  }

  .project p {
    width: 85%;
  }

  header p {
    width: 90%;
  }

  .skills ul li {
    padding: 15px;
  }
}
